PORT=8000
FRONTEND_URL=https://lernovax.vercel.app/
NODE_ENV=development
MONGODB_URL=mongodb+srv://kikioriireaborisade_db_user:umQB2ze35HlJVNwn@cluster0.ktj3jcl.mongodb.net/
MONDOB_PASSWORD=umQB2ze35HlJVNwn
